.input {
  height: 40px;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px var(--focus-ring-color);
}

.inputDefault {
  border-color: var(--mantine-color-gray-3);
}

.inputDefault:focus {
  border-color: var(--mantine-color-blue-6);
}

.inputDefault:focus-visible {
  --focus-ring-color: var(--mantine-color-blue-2);
}

.inputError {
  border-color: var(--mantine-color-red-6);
}

.inputError:focus {
  border-color: var(--mantine-color-red-6);
}

.inputError:focus-visible {
  --focus-ring-color: var(--mantine-color-red-2);
}
